<header>
    <h1>ねこったー</h1>
</header>
<div class="contents">
    <div class="message clearfix">
        <%= image_tag 'cat1.png' %>
        <div class="message_box">
        <p class="user_name">野良猫1号<span class="time">・8月13日</span></p>
            <p class="text">
                俺の名はルフィ。海賊王になる男だ。ゴムゴムのピストル！10年間鍛えた俺の技だ。10人は欲しいな、、。
            </p>
        </div>
    </div>
    <div class="message clearfix">
        <%= image_tag 'cat1.png' %>
        <div class="message_box">
            <p class="user_name">たま<span class="time">・8月13日</span></p>
            <p class="text">
                ヒトはいつ死ぬと思う？ピストルで心臓を撃ち抜かれた時？違う。不治の病に冒された時？違う。猛毒スープを飲んだ時？違う！ヒトに忘れられた時さ。
            </p>
        </div>
    </div>
    <div class="message clearfix">
        <%= image_tag 'cat1.png' %>
        <div class="message_box">
          <p class="user_name">たま<span class="time">・8月13日</span></p>
          <p class="text">
            家宝は寝て待てにゃー。急がば回れにゃー。蓼食う虫も好き好きにゃー。一念岩をも通すにゃー。千石取れば万石羨むにゃー。
          </p>
        </div>
    </div>
     <div class="message clearfix">
        <%= image_tag 'cat1.png' %>
        <div class="message_box">
          <p class="user_name">たま<span class="time">・8月13日</span></p>
          <p class="text">
            家宝は寝て待てにゃー。急がば回れにゃー。蓼食う虫も好き好きにゃー。一念岩をも通すにゃー。千石取れば万石羨むにゃー。
          </p>
        </div>
      </div>
    <div class="message clearfix">
        <%= image_tag 'cat1.png' %>
        <div class="message_box">
          <p class="user_name">たま<span class="time">・8月13日</span></p>
          <p class="text">
            家宝は寝て待てにゃー。急がば回れにゃー。蓼食う虫も好き好きにゃー。一念岩をも通すにゃー。千石取れば万石羨むにゃー。
          </p>
        </div>
    </div>
    <div class="message clearfix">
        <%= image_tag 'cat1.png' %>
        <div class="message_box">
          <p class="user_name">たま<span class="time">・8月13日</span></p>
          <p class="text">
            家宝は寝て待てにゃー。急がば回れにゃー。蓼食う虫も好き好きにゃー。一念岩をも通すにゃー。千石取れば万石羨むにゃー。
          </p>
        </div>
    </div>
</div>